// COLORS
$charcoal: #2c405a;
$alizarin-crimson: #ed1c40;
$medium-turquoise: #45dafd;
$white: #ffffff;
$cadet: #3f536e;
$cadet-grey: #8dabc4;
$pale-cerulean: #a8c6df;
$beau-blue: #c5d9e8;
$alice-blue: #ecf5fd;
$ghost-white: #fafbfc;
$platinum: #d8e5ee;
$gray: gray;